@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

html, body, .App, .App-header, #root{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    overflow-x: hidden;
    background: white;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    font-size:16px;
    
}

.loaderDiv{
    height:400px;
    padding-top: 200px;    
}

h2,h3,h5, p{
    margin:0
}
h1{
    margin: 15px 0
}

a {
    color: inherit;
    text-decoration: none
}

button{
    font-family: 'Montserrat', sans-serif;
    outline: none;
    font-weight: bold;
    border-radius: 20px;
    -webkit-box-shadow: 3px 3px 2px 0px rgba(184,184,184,1);
    -moz-box-shadow: 3px 3px 2px 0px rgba(184,184,184,1);
    box-shadow: 3px 3px 2px 0px rgba(184,184,184,1);
    outline: none;
    color: white;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: bold;
    height:40px;
    width: 100px;
    letter-spacing: 1px;
    border:none

}

.blueButton{
    background: rgb(50, 119, 231);
    
    
    
    margin: 0 10px;
    
    /* -webkit-box-shadow: 3px 3px 5px -1px rgb(144, 144, 144);
    -moz-box-shadow: 3px 3px 5px -1px rgb(144, 144, 144);
    box-shadow: 3px 3px 5px -1px rgb(144, 144, 144); */
}

ul{
    list-style: none;
    padding:0
}
.pacifico{
    font-family:'pacifico'
}

/* .color{
    color: rgb(218, 26, 45);
} */


hr{
    border:none;
    border-top: 1px solid #cfcfcf
}

/* utilities */

.border {
    border: 1px solid #cfcfcf
}

.text-center {
    text-align: center
}

.text-left{
    text-align: left
}

.width80{
    width:80%;
    margin:0
    
}

.width100{
    max-width:100% !important
}



button:hover, select:hover{
    cursor: pointer;

}



    .blueButton:hover{
    background: rgb(26, 93, 218);
    
  }

.bold{
    font-weight: bold
}

/* .yellow{
    color: rgb(185, 185, 83)
} */




.LoginDanger{
    width:450px;
    padding: 0.8rem 0.8rem 0.8rem 0.8rem;
    
    margin: 2px 10px;
    opacity: 0.9;
    background: #F2DEDF;
    color: #8D5556;
    border: 1px solid #8D5556; 
    position: relative;
    top: 50px;
    z-index: 9999;
    border-radius: 10px;
    
      
     
}  

.RecipeEditSuccess{
    width:450px;
    padding: 0.8rem 0.8rem 0.8rem 0.8rem;
    margin: 2px 10px;
    opacity: 0.9;
    background: rgb(182, 235, 178);
    color: rgb(21, 138, 0); 
    border: 1px solid rgb(21, 138, 0); 
    position: relative;
    top: 50px;
    z-index: 9999;
    border-radius: 10px;
    
      
     
}  


.AlertContainer{
    position: absolute;
    width:1px;
    height:1px;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    top:10px;
    left:50%
    
}

.AlertCross{
    margin-right: 0.8rem;
    font-weight: bold
}

.alert{
    display:flex;
    justify-content: space-between

}
.alert div:first-of-type{
    width:90%;
    text-align: center
 
 

}