@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

html, body, .App, .App-header{
    width:100%;
    height:100vh;
    margin:0;
    padding:0;
    overflow-x: hidden;
    background: #f8f8f8;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    background: rgb(246,247,249);
    background: radial-gradient(circle, rgba(246,247,249,1) 0%, rgba(218,235,255,1) 100%);
    font-size:16px;
    
}

h2,h3, p{
    margin:0
}


ul{
    list-style: none;
    padding:0
}
.pacifico{
    font-family:'pacifico'
}

.color{
    color: rgb(218, 26, 45);
}


hr{
    border:none;
    border-top: 1px solid #cfcfcf
}

/* utilities */

.border {
    border: 1px solid #cfcfcf
}

.text-center {
    text-align: center
}

.text-left{
    text-align: left
}

.width80{
    width:80%
}

.width100{
    max-width:100% !important
}

.height100{
    height:100%
}

/* margin */

.mt-2{
    margin-top: 2rem
}
.mt-1{
    margin-top: 1rem
}

.bold{
    font-weight: bold
}

.yellow{
    color: rgb(185, 185, 83)
}


/* .alert {
    padding: 0.8rem;
    margin: 1rem 0;
    opacity: 0.9;
    background: white;
    color: #333;
    position: relative;
    top: 150px;
    z-index: 9999;
  } */

.LoginDanger{
    width:450px;
    padding: 0.8rem 0.8rem 0.8rem 0.8rem;
    
    margin: 2px 10px;
    opacity: 0.9;
    background: #F2DEDF;
    color: #8D5556;
    border: 1px solid #8D5556; 
    position: relative;
    top: 70px;
    z-index: 9999;
    border-radius: 10px;
    
 
     
     
}  

.LoginDangerPosition{
   
}


.AlertContainer{
    position: absolute;
    width:100vw;
    height:100vh;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column
}

.AlertCross{
    margin-right: 0.8rem;
    font-weight: bold
}

.alert{
    display:flex;
    justify-content: space-between

}