.newRecipe{
    display:flex;
    justify-content: center;;
    flex-direction: column;
    align-items: center
}

/* ** PREVIEW ** */
#newRecipe .previewContainer{
    width:100%;
    display:flex;
    justify-content: center;
    height:500px;
    margin: 20px 1% 0 1%

}

#newRecipe .preview{
    width:80%;
    height:95%!important;
    display:flex;
    flex-direction: column;
    border:1px solid #ddd;
    border-radius: 10px;
    /* padding-top: 20px; */
    margin-bottom: 20px;    
    height: 400px; -webkit-box-shadow: 3px 3px 5px -1px rgba(207,195,207,1);
    -moz-box-shadow: 3px 3px 5px -1px rgba(207,195,207,1);
    box-shadow: 3px 3px 5px -1px rgba(207,195,207,1);

}
#newRecipe .previewItem{
    width:100%;
    text-align: center;
    background:rgba(255, 230, 202, 0.5)

}

#newRecipe .previewItem svg{
    color: #8CC700;
    margin-right: 5px
}

#newRecipe .previewItem:first-of-type{
    border-radius: 10px 10px 0 0

}
#newRecipe .previewItem p{
    padding: 5px 0
}

#newRecipe .previewItem.lastP{
    padding-bottom: 10px
}

#newRecipe .previewItem:last-of-type{
    width:100%;
    flex-grow: 1;
    text-align: center;
    background: white;
    display:flex;
    justify-content: center;    
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box

}




#newRecipe .previewItem:last-of-type div{
    width:60%;
    height: 100%;
    text-align: center;;
    border-radius: 10px;
    border:1px solid #f8f8f8


}

#newRecipe  .previewItem p {
   font-size: 0.8rem

}

#newRecipe  .previewItem .image{
    max-height: 300px;
    max-width:100%;
    border-radius: 10px;
    padding: 0 20px;
    box-sizing: border-box
    /* max-height:150px! important */
}




#newRecipe .recipeForm{
 
    width:100% 
}

#newRecipe .recipeForm form{
    
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

/* RECIPE DETAILS */

#newRecipe .recipeDetailsContainer{
    width:100%;
    
    display:flex;
    justify-content: center;
    padding-top:20px
}

#newRecipe .recipeDetails{
    width:70%;
    display:flex;
    justify-content: center;
    flex-direction: column ;
    align-items: center
}

#newRecipe .recipeDetailsItem:nth-child(1){
    width:100%;
    display: flex;
    padding-bottom: 20px;
    justify-content: center
    
}

#newRecipe .recipeDetailsItem{
    width:100%;
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    justify-content: center;
    margin:0;
    box-sizing: border-box;
    font-family: inherit
 
    
}

#newRecipe .recipeDetailsItem input{
    border-bottom: 1px solid rgb(173, 173, 173) !important;
    border: none;
    font-family: inherit;
    font-size: 0.8rem
   
 }

 #newRecipe .recipeDetails .recipeDetailsItem  div:nth-child(1){
    width:20%; 
    max-width:150px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right:20px;
    font-weight: bold;
    text-align: right
}

#newRecipe .recipeDetails .recipeDetailsItem  div:nth-child(2) {
     flex-grow: 1
     
}

#newRecipe .recipeDetails .recipeDetailsItem  div:nth-child(2) input{
 
    width: calc(100% - 10px) ;
    height:20px;
    padding-left: 10px;   
    box-sizing: content-box!important ;    
    
}


/**** INGREDIENTS ****/


#newRecipe .ingredientsContainer{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px ;
    min-height: 600px
}

#newRecipe .ingredients{
    display:flex;
    width:80%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 20px
}

#newRecipe .ingredientsItem {
    display:flex;
    width:80%;
    padding-bottom: 20px;
}

#newRecipe .ingredientsItem:nth-child(1){
    width:80%;
    display: flex;
    padding-bottom: 20px;
    justify-content: center
    
}
#newRecipe .ingredientNavButton, #newRecipe .instructionsItem.instructionsNavButton{
    margin-top:30px;
    display:flex;
    justify-content: space-around
    
    
}

#newRecipe .ingredientsItemLeft{
    width:5%; 
    max-width:150px;
    max-width:150px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right:20px;
    font-weight: bold;
    text-align: right
}

#newRecipe .ingredientsItemRight {
    flex-grow: 1;
    display:flex;   
     
    
}

#newRecipe .ingredientsItemRight div{
    text-align: center;
    font-weight: bold;
    font-size: 0.8rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 5px;
    width:100%
}



#newRecipe .ingredientsItemRight div input {
    width:90%;
    margin: 0 5%;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom: 1px solid #9e9e9e;
    height:20px;
    padding-left: 10px;
    font-family: inherit;
    font-size: 0.8rem
}

#newRecipe .addIngredientButton, #newRecipe .addInstructionButton{
    display: flex;
    justify-content: center
}

#newRecipe .addIngredientButton button, #newRecipe .addInstructionButton button{
    width: 150px;
    background:rgb(0, 112, 0);
}

#newRecipe .addIngredientButton button:hover, #newRecipe .addInstructionButton button:hover{
    width: 150px;
    background:rgb(0, 100, 0);
}

#newRecipe .ingredientsItemRight button, #newRecipe .instructionsItemRight button{
    width:50px
}


/* Instruction */


#newRecipe .instructionsContainer{
    width:100%;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    min-height:600px;
    padding-top: 20px 
       
}


#newRecipe .instructions{
    width:80%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
 
}
#newRecipe .instructionsItem{
    width:80%;
    display:flex;
    justify-content: center;
    align-items: center;
    /* margin: 10px 0; */
    padding-bottom: 20px
}
#newRecipe .instructionsItem:first-of-type{
    justify-content: center;
    margin:0;
    padding-bottom: 15px
    
    
}


#newRecipe .instructionsItemLeft{
    width:5%; 
    max-width:150px;
    height: 100%;
    display:flex;
    justify-content: flex-end;
    align-items:center;
    font-weight: bold;
    padding-right: 20px
}

#newRecipe .instructionsItemRight{
    flex-grow: 1;
    display: flex;
    align-items: center
}



#newRecipe .instructionsItem textarea{
    width: calc(100% - 40px);
    height: auto;    
    font-size: 0.8rem;
    font-family: inherit;
    resize: vertical;
    margin-right: 21px;
    padding: 10px 20px 10px 30px;
    line-height: 25px;
    
  }

    
@media only screen and (max-width: 1000px) {
     #newRecipe .ingredients {
        width:80%
    }

    #newRecipe .instruction{
        width:100%
    }
    #newRecipe .instructionItem{
        width:90%
    }
    

    .newRecipeDetails .newRecipeDetailsItem  div:nth-child(1){
        width:15%; 
    }
    .newRecipeForm{ 
        width:90% ;
        
    }
}

@media only screen and (max-width: 768px) {

    .newRecipeInstructionContainer{
        width:90%
    }
    #newRecipe .recipeDetails, #newRecipe .ingredients, #newRecipe .instructions, #newRecipe .preview, #newRecipe .ingredientsItem{
        width:90%;
        /* padding:0 20px */
    }

   

    #newRecipe .instructionsItem{
        width:100%
    }

    #newRecipe .instructionsItem textarea{
        margin-right: 5px;
        height:auto
    }


    




    .newRecipeForm{
 
        width:90% 
    }

    .newRecipePreviewItem .image{
        /* max-width:90% */
    }
}

@media only screen and (max-width: 480px) {

 .newRecipePreviewItem .image{
     padding: 0 !important
 }   
 #newRecipe .previewContainer{
     width:96%;
     margin: 20px 2%
 }
 .newRecipeDetails, .newRecipeIngredients, .newRecipeInstruction, .newRecipePreview, .newRecipeIngredientsItem{
    width:100%;
    /* padding:0 20px */
}
}