.contentBox{
    width:100%;
    display:flex;
    justify-content: center
    
}

/* .contentBoxSide{
    flex-grow: 1
} */

.contentBoxContent{
    flex-basis: 1000px;
    background: white;
    padding: 0 10px
}

.contentBoxCard{
    display: flex;
    width:100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 20px;
    box-sizing: border-box
    
}

.searchNumber{
    margin-left :100px;
    font-weight: bold
}

.contentBoxCardNavigation{}


/* @media only screen and (max-width: 768px) {
    .contentBoxContent{
        flex-basis: 650px;
        
    }
  } */