.contentCard{
    width: 23%;
    margin: 0 1%;
    padding: 0 10px;
    overflow: hidden;
    margin-bottom: 30px;
    box-sizing: border-box;
    min-height: 290px;
    /* max-height: 400px; */
    border:1px solid #f3f3f3;
    border-radius: 10px;
    -webkit-box-shadow: 3px 3px 5px -1px rgba(207,195,207,1);
    -moz-box-shadow: 3px 3px 5px -1px rgba(207,195,207,1);
    box-shadow: 3px 3px 5px -1px rgba(207,195,207,1);
    
}

.ContentCardImage{

    border-radius: 10px 10px 0 0 ;
    width:100%;
    background: #f8f8f8;
    min-height: 50%;
    /* max-height: 50%; */
    max-height:180px;
    position: center;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 10px;
    /* display:flex; */
    /* justify-content: center; */
    /* align-content: center */

    /* padding: 5px; */

}



.ContentCardImage img{
    border-radius: 10px 10px 0 0 ;
    
    max-width:100%;
    box-sizing: border-box;
    margin-top: auto!important




}

.fillerImg{
    height:150px;
    /* width:150px; */
    max-width:100%;
    background:  #f8f8f8;
    border-radius: 10px 10px 0 0 ;
}

.ContentCardText{
    background: #f8f8f8;
    /* max-height: 50%;
    min-height: 50%; */
    box-sizing: border-box;
    margin-bottom:10px;
    padding-bottom:10px;
    border-radius: 0  0 10px 10px 

}

.recipeText{
    margin: 10px 0;
    font-size:0.8rem;
    padding-left: 10px;
    text-align: left
}

.recipeText svg{
    color:#8CC700;
    margin-right: 5px

}

.contentCardTitleContainer{
    height: 70px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center
    
    
}



/* .iconSpacer{
    width: 100%;
    display:flex;
    justify-content: flex-start;

}

.iconSpacer div{
    margin-right: 20px

} */


@media only screen and (max-width: 1000px) {
    .contentCard{
        width: 31%;
        
    }
  }

@media only screen and (max-width: 768px) {
    .contentCard{
        width: 48%;

    }
  }

  @media only screen and (max-width: 480px) {
    .contentCard{
        width: 98%;

    }
  }