.contentCard{
    width: 25%;
    /* margin: 0 7px; */
    padding: 0 7px;
    overflow: hidden;
    margin-bottom: 30px;
    box-sizing: border-box
    
}

/* .contentCard img{ */
    /* text-align:center */
/* } */
/* .contentCardImage{
    text-align:center
} */



.recipeText{
    margin: 10px 0;
    font-size:0.8rem;
    padding-left: 10px;
    text-align: left
}

.contentCardTitleContainer{
    height: 70px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center
    
    
}



.iconSpacer{
    width: 100%;
    display:flex;
    justify-content: flex-start;

}

.iconSpacer div{
    margin-right: 20px

}


@media only screen and (max-width: 900px) {
    .contentCard{
        width: 33%;
        
    }
  }

@media only screen and (max-width: 768px) {
    .contentCard{
        width: 50%;

    }
  }

  @media only screen and (max-width: 480px) {
    .contentCard{
        width: 100%;

    }
  }