

.contentBox{
    width:100%;
    display:flex;
    justify-content: center
    
}

/* .contentBoxSide{
    flex-grow: 1
} */

.contentBoxContent{
    flex-basis: 1000px;
    background: white;
    /* padding: 0 10px */
}

.contentBoxCard{
    display: flex;
    width:100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 20px;
    box-sizing: border-box
    
}

.searchNumber{
    margin-left :100px;
    font-weight: bold;
    height:100%;
    padding-top: 5px
}

.contentBoxNavigation{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    height:30px;
    margin-bottom: 10px;
    
    
}


.arrows{
    font-size: 1rem;
    font-weight: bold;
    color: #bbbbbb;
    width:20px;
    text-align: center;
    margin: 0 5px
    
}

.arrows:hover{
    
    color:rgb(218, 26, 45);
    cursor: pointer
    
}


.ml2{
    margin-left: 25px
}
.mr2{
    margin-right: 25px
}

.navigationActive{
    color:rgb(218, 26, 45);
}

.navigationDisable{
    color:white
}

.navigationDisable:hover{
    
    color: white !important;
    cursor: default !important
    
}

.contentBoxHeader{
    display: flex;
    justify-content: space-between;
}
.navigationSelect{
    margin-right:100px;
    height:30px
}


@media only screen and (max-width: 768px) {

    .contentBoxContent{
        width:100%
    }}