@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');


.navBar{
    background: rgb(218,35,35)!important;
    background: linear-gradient(90deg, rgba(218,35,35,1) 0%, rgba(215,131,71,1) 100%)!important;
    position: relative;
    width: 100%;
    background:#f3f3f3;
    margin:0;
    height: 60px;
    display:flex;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    z-index: 5;
    color: #f8f8f8
    
}

.navBar button{
    background: none;
    color: white;
    border:2px solid white;
    border-radius: 20px;
    height: 40px;
    width:100px;
    margin-right: 20px;
    font-size: 0.8rem;
    font-family: inherit;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all .1s ease-in-out;
}

.navBar button:hover{
    color: #dddddd;
    border: 2px solid #dddddd;
    /* transform:scale(1.05) */
}

.navBarLogo{
    min-width:280px;
    margin:0;
    font-family: 'pacifico';
    margin-left: 20px;
    font-size: 30px;
    font-weight: 700;    
}

.navBarLogoText{
    width:100%;
    
}

.navBarContainer{
    width:70%;
    margin-right: 50px;
    display:flex;
    justify-content:center
}

.navBarButton{
    position: absolute;
    right: 20px;
    display:none
}
.navBarList{
    
    display: inline;
    list-style: none;
    margin:0;
    padding:0;
    /* margin-left: 80px */
    /* display:inline */
}

.navBarListItem a{
    display:inline;
    
    margin: 0 20px;
    /* color: #DC3545; */
    color: #f8f8f8;
    letter-spacing: 1.5px
}

.display{
    display:block !important
}

.burgerButton {
    width: 35px;
    height: 5px;
    background-color: #f8f8f8;
    margin: 6px 0;
    border-radius: 5px
  }


@media only screen and (max-width: 900px) {


    .navBarButton{
        display:block !important
    }

    .navBarContainer{
        display:block
    }
    .navBarList{
        display: none;
        position: absolute;
        top:60px;
        left:0;
        width:100%;
        margin:0;
        padding:0; 
        background: #f8f8f8
    } 
    .navBarListItem{
        display:block;
        width:200px;
        margin: 20px 30px;
        color: #DC3545;
    }
        
    

}

