@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');


.navBar{
    background: rgb(218,35,35)!important;
    background: linear-gradient(90deg, rgba(218,35,35,1) 0%, rgba(215,131,71,1) 100%)!important;
    position: relative;
    width: 100%;
    background:#f3f3f3;
    margin:0;
    height: 60px;
    display:flex;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    z-index: 5;
    color: #f8f8f8
    
}

.navBar button{
    background: none;
    color: white;
    border:2px solid white;
    border-radius: 20px;
    height: 40px;
    width:100px;
    margin-right: 20px;
    font-size: 0.8rem;
    font-family: inherit;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all .1s ease-in-out;
}

.navBar button:hover{
    color: #dddddd;
    border: 2px solid #dddddd;
    /* transform:scale(1.05) */
}

.navBarLogo{
    min-width:280px;
    margin:0;
    font-family: 'pacifico';
    margin-left: 20px;
    font-size: 30px;
    font-weight: 700;    
}

.navBarLogoText{
    width:100%;
    
}

.navBarContainer{
    width:70%;
    margin-right: 50px;
    display:flex;
    justify-content:center
}

.navBarButton{
    position: absolute;
    top: 20px;
    right: 50px;
    z-index: 10;
    transform: scale(2);
    color: #f8f8f8

}

.navBarButton:active{
  transform: scale(1.90)
}

.navBarButton:hover{
    color: #d8d8d8
  }



.navBarList{
        
    position: absolute;
    top:-360px;
    right:15px;
    width:300px;
    height:350px;
    margin:0;
    padding:0; 
    background: #d8d8d8;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 4;
    color:#f8f8f8;
    border-radius: 0 0 10px 10px;
    opacity: 0.9;
    transition: all 0.3s  ease-in-out;
    font-weight: bold

   
} 

 .slide{
    top: 60px
    /* z-index */
    

} 

.navBarListItem{
    
    width:200px;
    color:#333;
    margin: 15px  auto;
    text-transform: uppercase;
    text-align: center;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;

    
}

.navBarListItem:first-of-type{
    
    width:200px;
    margin: 50px  auto;
    text-transform: none;
    cursor: default !important;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.navBarListItem:first-of-type:hover{
    color: #333
  
}
.navBarListItem:hover{
    cursor: pointer;
    color: rgb(218, 26, 45) 
}



.navBarListItem a{
    display:inline;
    color: #333;
    letter-spacing: 1.5px
}

.navBarListItem a:hover{
    display:inline;
    color: rgb(218, 26, 45) ;
    letter-spacing: 1.5px
}

.display{
    display:block !important
}

.burgerButton {
    width: 35px;
    height: 5px;
    background-color: #f8f8f8;
    margin: 6px 0;
    border-radius: 5px
  }

 

@media only screen and (max-width: 900px) {


    .navBarButton{
        display:block !important
    }

    .navBarContainer{
        display:block
    }
    

        
    

}

