.searchBar {
    /* position: relative; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26rem;
    overflow: hidden;
    
}

.SearchBarImg{
    position: absolute;
    height: 26rem;
    
    position: center;
    z-index:-1;
    


}
.SeachBarFormContainer{
    display:flex;
    justify-content: center;
    width:100%;
}

.SeachBarForm{
    background-color: transparent;
    width:480px;
    display:flex
    
}

.SearchBarInput{
    
    width:400px;
    height:30px;
    border:none;
    margin-right: 10px;
    border-radius: 5px;
    padding-left: 10px
       
}

.SearchBarButton{
    
    height:30px;
    border:none;
   
       
}
