.confirmModal {
  position: absolute;
  z-index: -10;
  width: 450px;
  background: #f8f8f8;
  top: 500px;
  left: 0;
  right: 0;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 5px; 
  transition: all ease-in-out 0.3s;
  opacity: 0;
  
}

.confirmModal.confirmModalShowing {
  transform: translateY(-200px);
  opacity: 1;
  /* transform: scale(1) !important; */
  z-index: 10;
}

.confirmOverlay.confirmModalShowing {
  transform: scale(2) !important;  
}

.confirmModal .confirmModalTitle {
  width: 100%;
  margin-left: 0px;
  /* margin-top: -20px; */
  /* background: */
  /* background:rgb(50, 119, 231); */
  /* border-radius: 8px 8px 0  0 */
}
.confirmModal h2 {
  margin: 10px 0;
  padding: 10px 0;
  text-align: center;
  /* color: #f8f8f8 */
}

.confirmModal span {
  position: absolute;
  top: 10px;
  right: 12px;
  font-weight: bold;
  color: #929292;
}

.confirmModal span:hover {
  transform: scale(1.1);
  color: inherit;
}

.confirmModal span:active {
  transform: scale(0.9);
  color: inherit;
}

.confirmModal .confirmButton {
  margin: 20px 10px;
}

.confirmOverlay {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 5;
  transform: scale(0);
}

.confirmModal form {
  width: 90%;
  margin: 20px 0;
}
.confirmModal input {
  height: 40px;
  width: 100%;
  padding-left: 10px;
  border-radius: 10px;
  font: inherit;
  border: 1px solid #e8e8e8;
}
@media only screen and (max-width: 481px) {
    .confirmModal {
    width: 300px;}

}