.content {
  width: 100%;
  min-height:70vh;
  display: flex;
  justify-content: center;
}

.contentContainer {
  flex-basis: 1000px;
  max-width:100%
}

.contentContainer h1{
    text-align: center;
  }


  