
.individualRecipe h1{
    margin: 0;
    text-align: center;
    background:rgba(255, 230, 202, 0.5);
    padding-top: 30px
}


.individualRecipeDetails{
    display:flex;
    text-align: center;
    justify-content: center;
    background:rgba(255, 230, 202, 0.5)
  
}

.individualRecipeDetails p {
    font-size: 0.8rem;
    padding: 5px 0px;
       
}

.individualRecipeSave{
    display: flex; 
    align-items: center;
    justify-content: center;
    padding: 7px 0;
    background:rgba(255, 230, 202, 0.5)

}

.individualRecipeSave button{
    background: rgb(50, 119, 231);
    border: none;
    height:30px;
    width:80px;
    border-radius: 20px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    display:inline-block;
    position: relative;
    text-align: center;
    margin: 0 10px
  }

  .individualRecipeSave button:hover{
    background: rgb(26, 93, 218);
    
  }

.individualRecipeImageContainer{
    padding-top: 20px;
}

.individualRecipeImageContainer .fillerImg{
    width:60%;
    margin: 0 auto;
    height: 300px;
    border: 1px solid #e8e8e8;
    border-radius: 10px
}
.image{
    max-height: 300px;
    border-radius: 10px;
    -webkit-box-shadow: 3px 3px 5px -1px rgba(207,195,207,1);
    -moz-box-shadow: 3px 3px 5px -1px rgba(207,195,207,1);
    box-shadow: 3px 3px 5px -1px rgba(207,195,207,1);
}

.individualRecipeText{
    display: flex;
    text-align: center;
    justify-content: center;
    /* background:#f8f8f8 */
    
}

.individualRecipeDetails svg{
    color:#8CC700;
    margin-right: 5px
}


.ingredients{
    flex: 2;
    
}

.instructions{
    flex: 5;
    
}





.ingredients Ul{
    margin-left: 20px;
    margin-top: 0;
    font-size: 0.9rem;
    letter-spacing: 1px;
    padding: 20px
}

.ingredients ul li:nth-of-type(1) {
    font-weight: bold;
    color: rgb(218, 26, 45);
  }

.ingredients ul li:nth-of-type(2n) {
    background:#F1F7F7;
  }


  .ingredients ul li{
    padding: 8px 0;
    padding: 15px
}


.instructions ul{
    margin-left: 20px;
    margin-top: 11;
    font-size: 0.9rem;
    letter-spacing: 1.5px;
    padding: 15px
}

.individualRecipeListInstructions{
    display: flex;
    padding: 10px
}
.individualRecipeListInstructions div:nth-child(2){
    text-align: left
}

  .number{
    min-width: 30px
}

.padding0{
    padding:0 !important;
    /* margin:0 10px !important */
}






.spanMargin{
    margin-right: 20px
}



@media only screen and (max-width: 768px) {
    .individualRecipeText{
        flex-direction: column;
        
    }
    .ingredients{
        padding: 20px
    }
    
    .instructions{
        padding: 0px
    
    }
    .instructions Ul{
        margin-left: 0px;
        
    }

    .ingredients ul {
        margin-left: 0
    }

    .individualRecipeImageContainer .fillerImg{
        width:80%;
        margin: 0 auto;
        height: 300px;
        border: 1px solid #e8e8e8;
        border-radius: 10px
    }
  }