
.individualRecipe h1{
    margin-bottom: 0;
    text-align: center
}


.individualRecipeDetails{
    display:flex;
    text-align: center;
    justify-content: center;
  
}

.individualRecipeDetails p {
    font-size: 0.8rem;
    padding: 5px 0px;
       
}

.individualRecipeSave{
    display: flex; 
    align-items: center;
    justify-content: center;

}

.individualRecipeSave button{
    background: rgb(54, 216, 81);
    border: none;
    height:30px;
    width:60px;
    border-radius: 20px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    display:inline-block;
    position: relative;
    text-align: center
    

}

.image{
    max-height: 300px
}

.individualRecipeText{
    display: flex;
    text-align: center;
    justify-content: center;
}


.ingredients{
    flex: 2;
    
}

.instructions{
    flex: 5;
    

}




/* .individualRecipeUl{
    margin-left: 20px;
    margin-top: 0;
    font-size: 0.9rem;
    letter-spacing: 1px;
    padding: 20px
} */

.ingredients Ul{
    margin-left: 20px;
    margin-top: 0;
    font-size: 0.9rem;
    letter-spacing: 1px;
    padding: 20px
}

.ingredients ul li:nth-of-type(1) {
    font-weight: bold;
    color: red
  }

.ingredients ul li:nth-of-type(2n) {
    background:#F1F7F7;
  }


  .ingredients ul li{
    padding: 8px 0;
    padding: 15px
}

/* .individualRecipeList{
    padding: 8px 0;
    padding: 15px
} */
  /* .individualRecipeInstructions{
    margin-left: 20px;
    margin-top: 0;
    font-size: 0.9rem;
    letter-spacing: 1.5px;
    padding: 15px
} */

.instructions ul{
    margin-left: 20px;
    margin-top: 11;
    font-size: 0.9rem;
    letter-spacing: 1.5px;
    padding: 15px
}

.individualRecipeListInstructions{
    display: flex;
    padding: 10px
}
.individualRecipeListInstructions div:nth-child(2){
    text-align: left
}

  .number{
    min-width: 30px
}







.spanMargin{
    margin-right: 20px
}



@media only screen and (max-width: 768px) {
    .individualRecipeText{
        flex-direction: column;
        
    }
    .ingredients{
        padding: 20px
    }
    
    .instructions{
        padding: 0px
    
    }
    .instructions Ul{
        margin-left: 0px;
        
    }

    .ingredients ul {
        margin-left: 0
    }
  }