
.newRecipe{
    display:flex;
    justify-content: center;;
    flex-direction: column
    
}

.newRecipePreviewContainer{
    width:100%;
    display:flex;
    justify-content: center;
    /* background: rgb(251, 242, 231); */
}

.newRecipePreview{
    width:60%;
    display:flex;
    flex-direction: column;
    border:1px solid rgba(240, 198, 151, 0.5);
    border-radius: 10px;
    /* padding-top: 20px; */
    margin-bottom: 20px;
    margin-top: 20px;
    height: 400px;

}
.newRecipePreviewItem{
    width:100%;
    text-align: center;
    background:rgba(255, 230, 202, 0.5)

}
.newRecipePreviewItem p{
    padding: 5px 0

}

.newRecipePreviewItem:last-of-type{
    width:100%;
    flex-grow: 1;
    text-align: center;
    background: white;
    display:flex;
    justify-content: center;
    padding: 15px 0

}

.newRecipePreviewItem:last-of-type div{
    width:60%;
    height: 100%;
    text-align: center;;
    border-radius: 10px;
    border:1px solid #f8f8f8
    /* background: green */

}

.newRecipePreviewItem p {
   font-size: 0.8rem

}
.newRecipeForm{
 
    width:100% 
}

.newRecipeForm form{
    
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.newRecipeDetailsContainer{
    width:100%;
    
    display:flex;
    justify-content: center;
    padding-top:20px
}

.newRecipeDetails{
    width:60%;
    display:flex;
    justify-content: center;
    flex-direction: column ;
    align-items: center
}

.newRecipeItem:nth-child(1){
    width:100%;
    display: flex;
    padding-bottom: 20px;
    justify-content: center
    
}

.newRecipeItem{
    width:100%;
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    justify-content: center;
    margin:0;
    box-sizing: border-box
    /* padding-left: 50px; */
    /* padding-right: 70px */
    
}

.newRecipeItem input{
    border-bottom: 1px solid rgb(173, 173, 173) !important;
    border: none;
    /* background: rgb(251, 242, 231); */
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    /* vertical-align: bottom */
 }

.newRecipeDetails .newRecipeItem  div:nth-child(1){
    width:20%; 
    max-width:150px;
     display: flex;
     align-items: center;
     justify-content: flex-end;
     padding-right:20px;
     font-weight: bold;
     text-align: right
}

.newRecipeDetails .newRecipeItem  div:nth-child(2) {
     flex-grow: 1
     /* margin-right: 40px */
}

.newRecipeDetails .newRecipeItem  div:nth-child(2) input{
 
    width: calc(100% - 10px) ;
    height:20px;
    padding-left: 10px;
    /* padding-right: -30px; */
    box-sizing: content-box!important ;
    
    
}
.newRecipeIngredientsContainer{
    width:100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.newRecipeIngredients{
    display:flex;
    width:80%;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.newRecipeIngredientItem {
    display:flex;
    width:80%;
    padding-bottom: 20px
}

.newRecipeIngredientItem:nth-child(1){
    width:80%;
    display: flex;
    padding-bottom: 20px;
    justify-content: center
    
}

.newIngredientItemLeft{
    width:5%; 
    max-width:150px;
    max-width:150px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right:20px;
    font-weight: bold;
    text-align: right
}

.newIngredientItemRight {
    flex-grow: 1;
    display:flex;   
     
    
}

.newIngredientItemRight div{
    text-align: center;
    font-weight: bold;
    font-size: 0.8rem;
    display: flex;
    align-self: flex-end;
    justify-content: center;
    padding-bottom: 5px
}

.newIngredientItemRight div:nth-child(1){
    width: 100px;
    /* display: flex;
    align-self: flex-end;
    justify-content: center */
    
}
.newIngredientItemRight div:nth-child(2){
    width: 100px
    
}

.newIngredientItemRight div:nth-child(3){
    width: calc(100% - 200px)!important
    
}

.newIngredientItemRight div input {
    width:90%;
    margin: 0 5%;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom: 1px solid #9e9e9e
}

.newRecipe .newRecipeIngredients button, .newRecipe .newRecipeInstruction button, .newRecipeDetails button {
    height:30px;
    width:40px;
    background: rgb(50, 119, 231);
    border: 1px solid  rgb(50, 119, 231);
    color: white;
    font-weight: 500;
    border-radius: 10px;
        -webkit-box-shadow: 3px 3px 2px 0px rgba(184,184,184,1);
    -moz-box-shadow: 3px 3px 2px 0px rgba(184,184,184,1);
    box-shadow: 3px 3px 2px 0px rgba(184,184,184,1);
    outline: none
}

.newRecipe .newRecipeIngredients button:hover, .newRecipe .newRecipeInstruction button:hover{
    background: rgb(26, 93, 218);
    border: 1px solid  rgb(26, 93, 218);
    
  }

  .newRecipe .newRecipeIngredients button:active, .newRecipe .newRecipeInstruction button:active{
    transform: scale(0.95);
	-webkit-box-shadow: 1px 1px 2px 0px rgba(184,184,184,1);
-moz-box-shadow: 1px 1px 2px 0px rgba(184,184,184,1);
box-shadow: 1px 1px 2px 0px rgba(184,184,184,1);

  }

.newRecipe .newRecipeIngredients .addIngredientButton, .newRecipe .newRecipeInstruction .addInstructionButton, .newRecipe .newRecipeDetails .newRecipeNavigation{
    margin:0 auto;
    height:50px ;
    width:150px;
    background: rgb(50, 119, 231);
    border: 1px solid  rgb(50, 119, 231);
    color: white;
    font-weight: 500;
    border-radius: 10px;
        -webkit-box-shadow: 3px 3px 2px 0px rgba(184,184,184,1);
    -moz-box-shadow: 3px 3px 2px 0px rgba(184,184,184,1);
    box-shadow: 3px 3px 2px 0px rgba(184,184,184,1);
    outline: none
}


.newRecipeInstructionContainer{
    width:100%;
    display:flex;
    justify-content: center;
    
   
}




.newRecipeInstruction{
    width:80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* margin-top: 20px */
}
.newRecipeInstructionItem{
    width:100%;
    
    display:flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0
}


.newRecipeInstructionLeft{
    width:20%; 
    max-width:150px;
    height: 100%;
    display:flex;
    justify-content: flex-end;
    align-items:center;
    font-weight: bold;
    padding-right: 20px
}

.newRecipeInstructionRight{
    flex-grow: 1;
    display: flex;
    align-items: center
}

/* .newRecipeInstructionItem div:nth-child(2){
    width:100%;  
  
} */

.newRecipeInstructionItem textarea{
    width: calc(100% - 40px);
    height: auto;
    padding-left: 30px;
    font-size: inherit;
    font-family: inherit;
    resize: vertical;
    margin-right: 21px


}

@media only screen and (max-width: 1000px) {
    .newRecipeDetails, .newRecipeIngredients, .newRecipeInstruction{
        width:90%
    }
    .newIngredientItemLeft, .newRecipeInstructionLeft {
        width:15%
    }

    .newRecipeDetails .newRecipeItem  div:nth-child(1){
        width:15%; 
}
}

@media only screen and (max-width: 768px) {
    .newRecipeDetails, .newRecipeIngredients, .newRecipeInstruction{
        width:100%;
        padding:0 20px
    }
}


@media only screen and (max-width: 768px) {
    .newRecipeForm{
 
        width:100% 
    }
}