.recipeCard.cookbook {
  width: 23%;
  margin: 0 1%;
  padding: 0 10px;
  overflow: hidden;
  margin-bottom: 30px;
  box-sizing: border-box;
  min-height: 200px;
  max-height: 230px;
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 5px -1px rgba(207, 195, 207, 1);
  -moz-box-shadow: 3px 3px 5px -1px rgba(207, 195, 207, 1);
  box-shadow: 3px 3px 5px -1px rgba(207, 195, 207, 1);
  box-sizing: border-box;
  transition: all 0.15s ease-in-out;
  position: relative;
}

.recipeCard:hover {
  transform: scale(0.99);
  -webkit-box-shadow: 1px 1px 3px -1px rgba(207, 195, 207, 1);
  -moz-box-shadow: 1px 1px 3px -1px rgba(207, 195, 207, 1);
  box-shadow: 1px 1px 3px -1px rgba(207, 195, 207, 1);
  cursor: pointer;
}

.recipeCardImage.cookbook {
  border-radius: 10px;
  width: 100%;
  min-height: 60%;
  max-height: 60%;
  box-sizing: border-box;
  overflow: hidden;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.recipeCardImage img {
  border-radius: 10px;
  max-height: 180px;
  max-width: 100%;
  box-sizing: border-box;
}

.fillerImg {
  min-height: 180px;
  min-width: 100%;
  max-width: 100%;
  background: #f8f8f8 !important;
  border-radius: 10px 10px 0 0;
}

.recipeCardText.cookbook {
  min-height: 30%;
  box-sizing: border-box;
  margin-bottom: 10px;
  border-radius: 0 0 10px 10px;
}

.recipeCardText {
  margin: 10px 0;
  font-size: 0.8rem;
  padding-left: 10px;
  text-align: left;
}

.recipeCardText svg {
  color: #8cc700;
  margin-right: 5px;
}

.recipeCardTextTitle {
  height: 70px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fillerImgCreate {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
  color: rgb(153, 153, 153);
  background: white;
}

.lowOpacity {
  opacity: 0;
}

.removeFromCookbook {
  position: absolute;
  top: 0;
  background: transparent;
  right: 0;
  height: 40px;
  width: 100%;
  color: gray;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: color 0.2s ease-in-out;
  cursor: default;
  text-align: right;
  padding-top: 5px;
  transition: opacity 0.2s ease-in-out;
}

.removeFromCookbook.invertColor {
  background: rgb(50, 119, 231);
  color: #f8f8f8 !important;
}

.removeFromCookbook.invertColor svg {
  padding: 0px 15px 3px 5px;
}

.removeFromCookbook.invertColor svg:hover {
  color: #333;

}

.removeFromCookbook svg {
  padding: 5px 10px 3px 5px;
  cursor: pointer;
  transform: scale(0.6);
}



.removeFromCookbook:hover {
  color: rgb(50, 119, 231);
  
  
}

@media only screen and (max-width: 1000px) {
  .recipeCard {
    width: 31%;
  }
}

@media only screen and (max-width: 768px) {
  .recipeCard {
    width: 48%;
  }
  .recipeCardImage img {
    max-height: 180px;
  }
}

@media only screen and (max-width: 480px) {
  .recipeCard {
    width: 96%;
    margin: 0px 2% 10px 2%;
  }
  .recipeCardText {
    min-height: 30%;
  }
  .recipeCardImage {
    max-height: 300px;
    border-radius: 10px !important;
  }

  .recipeCardImage img {
    max-height: 300px;
  }

  .recipeCardTextTitle {
    height: 30px;
    padding-top: 15px;
    box-shadow: none;
  }
  .individualRecipeImageContainer .image {
    box-shadow: none !important;
  }
}
