.cookbookCard{
  width: 23%;
  margin: 0 1%;
  padding: 10px;
  overflow: hidden;
  margin-bottom: 30px;
  box-sizing: border-box;
  min-height: 200px;  
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 5px -1px rgba(207, 195, 207, 1);
  -moz-box-shadow: 3px 3px 5px -1px rgba(207, 195, 207, 1);
  box-shadow: 3px 3px 5px -1px rgba(207, 195, 207, 1);
  box-sizing: border-box;
  transition: all 0.15s ease-in-out;
  position: relative;
  display:flex;
  flex-direction: column
}

.cookbookCard:hover {
  transform: scale(0.99);
  -webkit-box-shadow: 1px 1px 3px -1px rgba(207, 195, 207, 1);
  -moz-box-shadow: 1px 1px 3px -1px rgba(207, 195, 207, 1);
  box-shadow: 1px 1px 3px -1px rgba(207, 195, 207, 1);
  cursor: pointer;
}

.cookbookCardImage {
  border-radius: 10px;
  width: 100%;
  height:180px;
  
  box-sizing: border-box;
  overflow: hidden;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.cookbookCardImage img {
  border-radius: 10px;
  /* min-height: 180px;
  max-height: 180px; */
  height:180px;
  box-sizing: border-box;
}


.fillerImg.cookbook {
  min-height: 180px;
  max-height: 180px;
  max-width: 100%;
  background: #f8f8f8 !important;
  border-radius: 10px 10px 0 0;
}



.cookbookCardText {
  margin: 0;    
  text-align: center;
  flex-grow: 2;
  box-sizing: border-box;  
  border-radius: 0 0 10px 10px;  
  display: flex;
  align-content: center
}

.cookbookCardText h3 {
  font-size: 1.17rem;
  margin: auto
  
}

.fillerImg.cookbook.create{
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
  color: rgb(153, 153, 153);
  background: white;
}





.lowOpacity {
  opacity: 0;
}

.removeFromCookbook {
  position: absolute;
  top: 0;
  background: transparent;
  right: 0;
  height: 40px;
  width: 100%;
  color: gray;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: color 0.2s ease-in-out;
  cursor: default;
  text-align: right;
  padding-top: 5px;
  transition: opacity 0.2s ease-in-out;
}

.removeFromCookbook.invertColor {
  background: rgb(50, 119, 231);
  color: #f8f8f8 !important;
}

.removeFromCookbook.invertColor svg {
  padding: 0px 15px 3px 5px;
}

.removeFromCookbook.invertColor svg:hover {
  color: #333;
}

.removeFromCookbook svg {
  padding: 5px 10px 3px 5px;
  cursor: pointer;
  transform: scale(0.6);
}

.removeFromCookbook:hover {
  color: rgb(50, 119, 231);
}

@media only screen and (max-width: 1000px) {
  .cookbookCard {
    width: 31%;
  }
}

@media only screen and (max-width: 768px) {
  .cookbookCard {
    width: 48%;
  }
  .cookbookCardImage img {
    max-height: 180px;
  }
}

@media only screen and (max-width: 480px) {
  .cookbookCard {
    width: 96%;
    margin: 0px 2% 10px 2%;
  }
  .cookbookCardText{
    
    justify-content: flex-start;
  }
  .cookbookCardImage {
    max-height: 300px;
    border-radius: 10px !important;
  }

  .cookbookCardImage.cookbook img {
    max-height: 150px;
  }

  .cookbookCardTextTitle {
    height: 30px;
    padding-top: 0;
    box-shadow: none;
  }
  .individualRecipeImageContainer.cookbook .image {
    box-shadow: none !important;
  }

  .fillerImg.cookbook {
    min-height: 150px;
  }

  .fillerImgCreate.cookbook {
    min-height: 100px;
    max-height: 150px;
  }
}
