@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

.login {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  background: rgba(246, 247, 249, 1);
  padding: 0 1rem;
  box-sizing: border-box
  /* overflow: hidden */
}

.login img {
  height: 100%;
  z-index: 0;
  position: absolute;
  left: 0;
}
/* Layout */

/* makes the ocerall container*/

.loginContainer {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 766px;
  max-width: 100%;
  min-height: 560px;
  
}

.loginForm-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.loginSign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.loginSign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.loginOverlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.loginOverlay {
  background: rgb(218, 35, 35) !important;
  background: linear-gradient(
    90deg,
    rgba(218, 35, 35, 1) 0%,
    rgba(215, 131, 71, 1) 100%
  ) !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.loginOverlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* padding: 0 40px; */
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.loginOverlay-left {
  transform: translateX(-20%);
}

.loginOverlay-right {
  right: 0;
  transform: translateX(0);
}

.loginContainer.right-panel-active .loginSign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

.loginContainer.right-panel-active .loginOverlay-container {
  transform: translateX(-100%);
}

.loginContainer.right-panel-active .loginOverlay {
  transform: translateX(50%);
}

.loginContainer.right-panel-active .loginOverlay-left {
  transform: translateX(0);
}

.loginContainer.right-panel-active .loginOverlay-right {
  transform: translateX(20%);
}

.loginForm {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.loginForm h2{
  margin-bottom: 15px

}

.loginInput {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  box-sizing: border-box
}

.loginButton {
  /* border: 1px solid rgb(50, 119, 231); */
  background: rgb(39, 93, 179);
  color: #ffffff;
  margin-left: 10px;
  letter-spacing: 1px;
   transition: transform 80ms ease-in;
  margin-top: 12px;
  -webkit-box-shadow: 3px 3px 2px 0px rgba(184, 184, 184, 1);
  -moz-box-shadow: 3px 3px 2px 0px rgba(184, 184, 184, 1);
  box-shadow: 3px 3px 2px 0px rgba(184, 184, 184, 1);
  outline: none;
}

button:active {
  transform: scale(0.95);
  -webkit-box-shadow: 1px 1px 2px 0px rgba(184, 184, 184, 1);
  -moz-box-shadow: 1px 1px 2px 0px rgba(184, 184, 184, 1);
  box-shadow: 1px 1px 2px 0px rgba(184, 184, 184, 1);
}

button:hover {
  
  background-color: rgb(26, 93, 218);
}

.loginP {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 0px;
}

.LoginLogo {
  display: none;
  font-family: "pacifico";
}

.blue {
  color: blue;
}

.blue:hover {
  cursor: pointer;
}

.loginButtonContainer{
  display:flex
}

@media only screen and (max-height: 410px) {


	body, html, .App, .login{
		min-height: 500px
	}

	.LoginLogo{
		display: block
	}
	.loginContainer{
		min-width:100vw !important;
		min-height:500px !important
	}
	
	.loginInput{
		width:60%
	}

	.loginForm{
		min-height: 500px !important;
		height:100% !important;
		justify-content: flex-start;
		padding: 1rem
		
		/* overflow: auto */}

		.loginOverlay {
    display: none;
  }

  .loginOverlay-container {
    display: none;
  }

  .loginSign-up-container {
    width: 100%;
  }
  .loginSign-in-container {
    width: 100%;
  }

  .loginContainer.right-panel-active .loginSign-up-container {
    transform: translateX(0%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
    display: flex;
    justify-content: center;
  }
  
	


}

@media only screen and (max-height: 500px) {


	body, html, .App{
		min-height: 100vh
	}



	.loginContainer{
		min-width:100vw;
		min-height:100vh;
		border-radius: 0px !important
	}

	.loginForm{

		min-height:100vh
	

	

}


}



@media only screen and (max-width: 680px) {

	.login{
		padding:0
	}

  .loginOverlay {
    display: none;
  }

  .loginOverlay-container {
    display: none;
  }
  .loginContainer {
    width: 480px;
    margin: 0 10px;
  }

  .loginSign-up-container {
    width: 70%;
  }
  .loginSign-in-container {
    width: 70%;
  }
  .loginContainer.right-panel-active .loginSign-up-container {
    transform: translateX(0%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
    display: flex;
    justify-content: center;
  }

  .loginForm-container {
    width: 100%;
    transition: none;
    transition: opacity 1s ease-in-out;
  }
  .LoginLogo {
    display: block;
  }

  .register {
    padding-top: 0;
    margin: 5px 0;
  }

  .register.loginP {
    padding-top: 0;
    margin: 15px 0 0 0;
  }

  .opacity {
    opacity: 0;
  }
}

@media only screen and (max-width: 480px) {
  .LoginLogo {
    font-size: 1.7rem;
  }

  .loginForm{
	  padding: 0 16px
  }

  .loginForm h2 {
    font-size: 1.3rem;
    margin: 5px 0;
  }

  .signIn {
    margin-bottom: 20px;
    margin-top: 40px;
  }

  /* .signInP { */
    /* margin-bottom: 40px; */
  /* } */
}
